@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

body::-webkit-scrollbar {
width: 1em;
}
   
body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
background-color: #8e1caf;
outline: 1px solid #422f9d;
}

button {
    cursor: pointer;
}

section {
    padding: 4rem 0 2rem 0;
}

#fake_header {
    background-color: transparent;
    z-index: 9;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 70px;
    width: 100%;

    transition: all 1s;

}

#fake_header.show {
    background-color: #17181b;

}

.menuTop {
    width: 2rem;
    height: 2rem;

    position: fixed;
    z-index: 100;
    right: 2.2rem;
    top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    cursor: pointer;

    transition: all 1s;
}

.show-menu .menuTop {
    right: 16rem;
}

.menuTop .line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
    background-color: black;
    box-shadow: 0rem 0em 0px #000;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
    background-color: black;
    box-shadow: 0rem 0rem 0px #000;
}

.menuTop span {
    position: absolute;
    left: 3rem;
    background-color: #a044ff;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-action);
    opacity: 0;
}

.menuTop span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .menuTop:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 15s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 50%;
}

.banner h1 {
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
    opacity: 0;
    animation: moveBanner 1s .5 forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2.5rem;
    opacity: 0;
    animation: moveBanner 1s .7 forwards;
}

.banner button {
    font-family: var(--font-action);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to left, #333399, #ff00cc);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s .9 forwards;
}

@media (min-width: 320px) and (max-width: 820px) {
    .banner {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        right: 15%;
        left: 15%;
    }
    .banner h1 {
        font-size: 2rem;
    }
    .banner p {
        font-size: 1.5rem;
    }
    .banner button {
        margin-right: 20%;
    }
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 90;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

.menu-item {
    text-align: center;
    margin-bottom: .9rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: all .3s;
}

.menu-link:hover {
    color: #6a3093;
    text-decoration: solid underline #6a3093 .1rem;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    background-color: #333399;
    border-radius: 50%;
    color: white;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
}

.social-media i:hover {
    background-color: #a044ff;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
    grid-column: 4/7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos {
    background-color: #361242;
}

@media (min-width: 320px) and (max-width: 820px) {
    .conhecimentos {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #3BB9F0;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 4rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #3BB9F0;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-texto {
    font-family: var(--font-secundary);
    margin-top: 1rem;
    text-align: center;
    color: white;
    /* color: #F25069; */
}

.conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 3 / 7;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.sessao-projetos {
    background: -webkit-linear-gradient(to top, #361242, #333399);
    background: linear-gradient(to bottom, #361242, #333399);
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

.cards {
    width: 18rem;
    height: 25rem;
    position: relative;
    margin-bottom: 5rem;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity 0.3s;
}

.cards:hover .card-img-wrapper img {
    opacity: .2;
}

.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .4);
    transition: all .3s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
    /* color: #ff4081; */
}

.card-info h3 {
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #ff4081;
    /* color: #3cd465; */
    margin-bottom: 1.5rem;
}

.card-info p {
    font-family: var(--font-secundary);
    font-weight: 400;
    color: #eee;
    width: 80%;
    margin-bottom: 1rem;
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-family: var(--font-action);
    font-size: .8rem;
    color: #eee;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to left, #333399, #ff00cc);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}

.cards:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

@media (min-width: 320px) and (max-width: 820px) {
    .projetos {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .cards {
        width: 28rem;
        height: 10rem;
        position: relative;
        margin-bottom: 1.5rem;
    }
    .card-img-wrapper img {
        opacity: 0.5;
    }
    .card-info {
        visibility: visible;
        width: 100%;
        opacity: 1;
        padding: 1rem;
    }
    .card-info h3 {
        margin-bottom: 0rem;
    }
    .card-info p {
        margin-bottom: 0rem;
    }
    .cards:hover .card-info {
        bottom: 0rem;
    }
}

@media (min-width: 320px) and (max-width: 640px) {
    .projetos {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .cards {
        width: 15rem;
        height: 12rem;
        position: relative;
        margin-bottom: 1.5rem;
    }
    .card-img-wrapper img {
        opacity: 0.5;
    }
    .card-info {
        visibility: visible;
        width: 100%;
        opacity: 1;
        padding: 1rem;
    }
    .card-info h3 {
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }
    .card-info p {
        margin-bottom: 0rem;
    }
    .cards:hover .card-info {
        bottom: 0rem;
    }
}

.sessao-contato {
    padding: 6rem 0 4rem 0;
    width: 100%;
    height: calc(100vh - 120px);
    background: -webkit-linear-gradient(to bottom, #361242, #333399);
    /* background: linear-gradient(to top, #361242, #282a36); */
    background: linear-gradient(to top, #361242, #333399);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 60%;
    min-height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contato-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(../Imagens/contatos.jpg);
    background-size: cover;
}

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 2rem;
    outline: none;
    margin: 2rem 0;
}

.input-group textarea {
    padding-top: 2rem;
    max-width: 30rem;
    max-height: 5rem;
    min-width: 20rem;
}

.field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all .3s;
}

.field:focus~label {
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    width: 20rem;
    height: 2.5rem;
    
    text-transform: uppercase;
    font-family: var(--font-action);
    font-size: .8rem;
    color: #eee;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to left, #333399, #ff00cc);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}

@media (min-width: 320px) and (max-width: 820px) {
    .contato-wrapper {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contato-right {
        width: 80%;
    }
    .contato-left {
        width: 0%;
    }
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-style: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 2.2rem;
    bottom: 2.2rem;
    width: 3rem;
    height: 3rem;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to left, #333399, #ff00cc);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #000009;
}
